In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [2]:
PATH = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/1.4.11_experimentation_guided_example/experiment_data_2_wks.csv'
experiment_data = pd.read_csv(PATH)

In [3]:
experiment_data.head(10)

  treatment_date  test  is_signed_up signup_date
0     2016-04-01     0             0         NaN
1     2016-04-01     0             0         NaN
2     2016-04-01     0             0         NaN
3     2016-04-01     0             0         NaN
4     2016-04-01     0             0         NaN
5     2016-04-01     0             0         NaN
6     2016-04-01     1             1  2016-04-02
7     2016-04-01     0             0         NaN
8     2016-04-01     0             0         NaN
9     2016-04-01     0             0         NaN

In [10]:
# How large is each group?
print("Test sample size: {}".format(len(experiment_data[experiment_data.test==1])))
print("Control sample size: {}".format(len(experiment_data[experiment_data.test==0])))
print("Test proportion: {}".format(experiment_data.test.mean()))

Test sample size: 3372
Control sample size: 30241
Test proportion: 0.10031832921786214

In [20]:
# What is the signup rate of test and control?
test_sign_up = experiment_data[experiment_data.test==1].is_signed_up
control_sign_up = experiment_data[experiment_data.test==0].is_signed_up
print("Test signup rate: {}".format(test_sign_up.mean()))
print("Control signup rate: {}".format(control_sign_up.mean()))

Test signup rate: 0.13701067615658363
Control signup rate: 0.14708508316523924

In [21]:
# Are the test and control groups significantly different?
stats.ttest_ind(test_sign_up,control_sign_up)

Ttest_indResult(statistic=-1.5711354292574262, pvalue=0.11616060761145311)