In [25]:
import numpy as np
import pandas as pd
import time
import ny_crime2013 as ny

In [16]:
ny_crime = pd.DataFrame(columns=ny.crime_data.columns)
for col in ny_crime.columns:
    ny_crime[col] = ny.crime_data[col]
ny_crime.shape

(350, 12)

In [17]:
ny_crime.isnull().sum()

City                           0
Population                     3
Violent\ncrime                 3
Murder                         3
Rape\n(legacy\ndefinition)2    3
Robbery                        3
Aggravated\nassault            3
Property Crime                 3
Burglary                       3
Larceny-\ntheft                3
Motor\nvehicle\ntheft          3
Population^2                   3
dtype: int64

In [21]:
ny_crime.head(3)

,City,Population,Violent crime,Murder,Rape (legacy definition)2,Robbery,Aggravated assault,Property Crime,Burglary,Larceny- theft,Motor vehicle theft,Population^2
0,Adams Village,1861.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,10.0,0.0,3463321.0
1,Addison Town and Village,2577.0,3.0,0.0,0.0,0.0,3.0,24.0,3.0,20.0,1.0,6640929.0
2,Akron Village,2846.0,3.0,0.0,0.0,0.0,3.0,16.0,1.0,15.0,0.0,8099716.0

In [22]:
ny_crime = ny_crime.dropna(how="any")
ny_crime.isnull().sum()

City                           0
Population                     0
Violent\ncrime                 0
Murder                         0
Rape\n(legacy\ndefinition)2    0
Robbery                        0
Aggravated\nassault            0
Property Crime                 0
Burglary                       0
Larceny-\ntheft                0
Motor\nvehicle\ntheft          0
Population^2                   0
dtype: int64

In [23]:
ny_crime.shape

(347, 12)

In [24]:
ny_crime.dtypes

City                            object
Population                     float64
Violent\ncrime                 float64
Murder                         float64
Rape\n(legacy\ndefinition)2    float64
Robbery                        float64
Aggravated\nassault            float64
Property Crime                 float64
Burglary                       float64
Larceny-\ntheft                float64
Motor\nvehicle\ntheft          float64
Population^2                   float64
dtype: object

## Decision Tree

In [28]:
from sklearn import tree

start = time.time()

decision_tree = tree.DecisionTreeRegressor(criterion='mse',max_features=1,max_depth=4,random_state=50)

X = ny_crime.drop("Property Crime",1)
X = pd.get_dummies(X)
y = ny_crime["Property Crime"]

decision_tree.fit(X,y)

end = time.time()

print("Decision Tree Runtime: ",(end-start))

Decision Tree Runtime:  0.006930351257324219

## Random Forest

In [29]:
from sklearn import ensemble

start = time.time()

rfc = ensemble.RandomForestRegressor()

rfc.fit(X,y)

end = time.time()

print("Random Forest Runtime: ",(end-start))

Random Forest Runtime:  0.051982879638671875